---
import Accordion from "./comuns/Accordion.astro";
import WhiteMessage from "./comuns/WhiteMessage.astro";
---

<section id="slide2">
  <div>
    <h2>Nuestros Servicios de Desarrollo</h2>
    <h3>Desarrollador de Software Innovador y Diseño</h3>
    <h4>Web Profesional</h4>
    <h5>Nuestro enfoque profesional y orientado al detalle garantiza resultados
        de alta calidad que destacan tu marca y generan una experiencia
        excepcional para tus usuarios. Confía en nosotros para potenciar tu
        presencia en línea y alcanzar nuevos niveles de éxito</h5>
        <WhiteMessage title="Contáctenos" />
  </div>
  <div>
    <Accordion id="accordion"/>
  </div>
</section>
