<section class="columns-2 h-screen w-screen relative flex">
    <div class="container pt-40 w-1/3 flex-none ml-20">
        <h2 class="text-white tracking-tight text-[55px] font-medium font-FjallaOne uppercase"> Innovando con pasión: Nuestra historia en desarrollo web</h2>

        <div class="underline">
        <ul class="mt-20 relative leading-[3rem]">
            <a class="text-white text-[15px] font-regular font-Poppins "> hola@doble-bit.com </a>
        </ul>
        </div>  

    </div>

    <style is:global>
        .underline {
            text-decoration-line: underline;
            color: white;
            text-decoration-thickness: 2px;
            text-underline-offset: 8px;
        }
    </style>

    <div class="container pt-40 w-1/2 flex-none ml-60">
        <ul class="relative leading-[1.5rem] mr-60">
            <a class="text-white text-[15px] font-regular font-Poppins text-justify "> 
                Explora nuestra pasión por el desarrollo web, donde la creatividad nunca se agota y cada proyecto es una oportunidad para innovar.
                </a>

            <div class="relative leading-[1.5rem] mt-20">
                <a class="text-white text-[18px] font-bold font-Poppins text-justify"> JOSÉ</a>
            </div>
            <div>
                <a class="text-white text-[13px] font-regular font-Poppins text-justify "> Gerente General</a>
            </div>

            <div class="relative mt-40 flex ml-20">
                <h2 class="text-white text-[18px] font-bold font-Poppins"> AÑOS DE EXPERIENCIA WEB </h2>
             </div>
            
            <div class="relative flex">
               <h2 class="text-white text-[150px] font-medium font-FjallaOne mt-5 "> 4 </h2>
            </div>

        </ul>
    </div>


</section>