---
import TitleFjallaOne from "./comuns/TitleFjallaOne.astro";
import Underline from "./comuns/Underline.astro";
import Subtitle from "./comuns/Subtitle.astro";
---

<section id="slide3">
  <div>
    <h1>Innovando con pasión: Nuestra historia en desarrollo web</h1>

    <ul>hola@doble-bit.com</ul>
    
  </div>

  <div>
    <h2>Explora nuestra pasión por el desarrollo web, donde la creatividad nunca se agota y cada proyecto es una oportunidad para innovar.</h2>

    <h3>JOSÉ</h3>

    <a>Gerente General</a>
    <h5>4</h5>
    <h4>AÑOS DE EXPERIENCIA WEB</h4>
    
    
  </div>
</section>
