---
import Icons from "./comuns/Icons.astro";
import Underline from "./comuns/Underline.astro"
---

<section id="slide8" class="bg-black">

  <div class="flex">
      <h1>HABLEMOS DE TU PROYECTO.</h1></div>
     <div> <Icons id="icons"/> </div>
      
    
  <div>
  <h4 href="#">Ponerse en contacto</h4>

  <br>
  <br>
    <hr/>
      <ul> © 2023 DobleBit | Todos los derechos reservados
      </ul>
    </div>

    

</section>


