---
import TitleMontserrat from "./comuns/TitleMontserrat.astro";
import Message from "./comuns/Message.astro";
---

<section id="slide1">

	<TitleMontserrat
	title="Potencia tu presencia en línea y conquista a tu audiencia"
	subtitle={[
        "Haz clic ahora para obtener una consulta gratuita y descubre cómo podemos llevar tu negocio al siguiente nivel digital!",
        "No pierdas esta oportunidad de destacarte en la era digital."
      ]}>

	</TitleMontserrat>
			

			<Message id="footer"
				title="Envíanos un mensaje">
			</Message>

				<style>
					body {
						background: #17171f;
						
					}
				</style>	

</section>