<section class="h-screen w-screen text-center relative flex overflow-hidden">

		<div class="z-30 h-screen w-screen flex flex-col">

			<header>


				<h2 class="text-white pt-40 text-[50px] font-bold font-Montserrat"> Potencia tu presencia en línea </h2>
				
				<h2 class="text-white pt-1 tracking-[.0em] leading-[2rem] text-[50px] font-bold font-Montserrat"> y conquista a tu audiencia </h2>
				<h1 class="text-[15px] leading-[4rem] ">    .   </h1>
				<h3 class="text-white text-sm pt-10 text-[18px] leading-[0.5rem] font-Comfortaa font-regular">Haz clic ahora para obtener una consulta gratuita y descubre cómo podemos llevar tu negocio al siguiente nivel digital!
				<h3 class="text-white text-sm pt-5 text-[18px] leading-[0.5rem] font-Comfortaa font-regular">No pierdas esta oportunidad
				<h3 class="text-white text-sm pt-5 text-[18px] leading-[0.5rem] font-Comfortaa font-regular"> de destacarte en la era digital. </h3>

			</header>	
			
			
			<footer class="flex flex-col flex-grow justify-end pb-40 basis-0 z-30">
				<div>
					<a class="rounded-lg border-2 border-green-100 text-sm rounded font-Montserrat font-medium text-white px-14 py-2 inline-block hover:bg-green hover:text-black transitions-colors border-collapse " href="#"> Envíanos un mensaje</a>
				</div>
				
			</footer>

				<style>
					body {
						background: #17171f;
						
					}
				</style>	

	</div>

</section>