<section class="h-screen w-screen relative">
    <div class="grid grid-cols-3 gap-2 flex mt-80 ml-40">
        <div class="mt-40">
            <a href="#" >
                <img class=" bg-center flex border-white" src="..." />
                <ul class="font-Poppins font-bold text-white text-[20px] ">Darkness Vehicle 
                <ul class="font-FjallaOne font-thin text-white opacity-70 text-[12px] ">DIGITAL, PRINT, DEVELOPMENT</ul> 
                </ul>
                
            </a>
        </div>
        
        <div class="mt-40">
            <a href="#" >
                <img class=" bg-center flex border-white" src="..." />
                <ul class="font-Poppins font-bold text-white text-[20px] ">Goddes Cover Art
                <ul class="font-FjallaOne font-thin text-white opacity-70 text-[12px]"> PRINT, DIGITAL, DEVELOPMENT</ul>    
                </ul> 
                
            </a>
        </div>
        
        <div class="mt-40">
            <a href="#" >
                <img class=" bg-center flex border-white" src="..." />
                <ul class="font-Poppins font-bold text-white text-[20px]">Hard Employee
                <ul class="font-FjallaOne font-thin text-white opacity-70 text-[12px] "> WEB, DIGITAL, DEVELOPMENT</ul>  
                
                
            </a>
        </div>
        
    </div>
</section>