---
import Box2 from "./comuns/Box2.astro";
---


<section id="slide6">
    <nav>
        <Box2
          imagen="/public/fonts/marco.png"
          title="Darkness Vehicle"
          items={[
            "DIGITAL, PRINT, DEVELOPMENT"
          ]}
        />
          </nav>
    
        <nav class="mt-20">
        <Box2
          imagen="/public/fonts/marco.png"
          title="Goddes Cover Art"
          items={[
            "PRINT, DIGITAL, DEVELOPMENT"
            
          ]}
        />
          </nav>
    
          <nav>
        <Box2
          imagen="/public/fonts/marco.png"
          title="Hard Employee"
          items={[
            "WEB, DIGITAL, DEVELOPMENT"
          ]}
        />
          </nav>
</section>