---
import Logo from "./Logo.astro";
import ContactButton from "./comuns/ContactButton.astro"
---
<section id="landing-header"
class="z-50 sticky">

<body>
  <header>
    <a class="logo"><Logo/></a>
    <input type="checkbox" id="check">
    <label for="check" class="mostrar-menu">&#8801</label>
    <nav class="menu">
      <a href="#">Inicio</a>
      <a href="#">Nosotros</a>
      <a href="#">Servicios</a>
      <a href="#">Portafolio</a>
      <a1 href="#"><ContactButton/></a1>
      <label for="check" class="esconder-menu">&#215</label>
    </nav>
  </header>
</body>
</section>

<!-- ---
import Logo from "./Logo.astro";
import Header from "./comuns/Header.astro";
import ContactButton from "./comuns/ContactButton.astro";
---

<header
  id="landing-header"
  class="py-3 flex items-center fixed w-screen justify-between text-white bg-bluek z-50"
>
  <div class="flex flex-grow basis-0 ml-10">
    <Logo />
  </div>

  <Header/>
  <ContactButton/>  

</header> -->
