<section class="h-screen w-screen relative bg-white">

    <header class="z-40 pt-20 mt-10 relative text-left text-center">
        <h2 class="text-black text-[60px] font-regular font-FjallaOne"> PRODUCTOS WEB DIGITALES PARA CLIENTES INCREÍBLES </h2>
    </header> 


    <div class="pt-10 ml-20 mr-80 text-justify">
        <a class="text-[18px] text-black font-Poppins font-regular "> Trabajamos en estrecha colaboración con su equipo de desarrollo, profesionales de marketing y partes interesadas para diseñar y desarrollar UX y UI que hacen su sitio web, aplicación o software un placer de usar </a>
    </div>

        
    <div class="container mx-auto grip-cols-4 ">

        <ul class="flex font-FjallaOne ">
            <ul class="rounded-lg ml-10 w-h-20 mt-20 pt-10 text-hello font-MontserratE font-bold text-[50px]">01
                <div class=" font-FjallaOne text-black font-regular text-[20px] leading-none mt-1"> PROTOTIPO
                    <div class=" font-Poppins text-[15px] leading-6 mt-3 text-justify"> Descubre el poder de la innovación, tu primer paso hacia un proyecto exitoso.</div>

                </div>
            </ul>
            <li class="rounded-lg ml-20 w-h-20 mt-20 pt-10 font-MontserratE text-hello font-bold text-[50px]">02
                <ul class="font-FjallaOne text-black font-regular text-[20px] leading-none mt-1"> BOCETOS
                    <ul class="font-Poppins text-[15px] leading-6 mt-3 text-justify"> Con nuestras creaciones visuales, podrás ver tu visión tomando forma.</ul>

                </ul>
            </li>

            <li class="rounded-lg ml-20 w-h-20 mt-20 pt-10 font-MontserratE text-hello font-bold text-[50px]">03
                <ul class="font-FjallaOne text-black font-regular text-[20px] leading-none mt-1"> WIREFRAME
                    <ul class="font-Poppins text-[15px] leading-6 mt-3 text-justify"> Nuestra experiencia en estructuras sólidas garantiza una base impecable para tu sitio web.</ul>

                </ul>
            </li>

            <li class="rounded-lg ml-20 w-h-20 mt-20 pt-10 font-MontserratE text-hello font-bold text-[50px]">04
                <ul class="font-FjallaOne text-black font-regular text-[20px] leading-none"> DISEÑO UI-UX</ul>
                    <ul class="text-black font-Poppins text-[15px] leading-6 mt-5 text-justify"> Confía en nuestro diseño cautivador y sorprende a tus clientes con una experiencia excepcional.</ul>

                
            </li>
        </ul>


    </div>

    

    
</section>


