---
import Box from "./comuns/Box.astro";
---

<section id="slide5">
  <div>
    <h2>LAS COSAS QUE SOMOS CAPACES DE HACER</h2>
  </div>

  <nav>
    <Box
      imagen="/public/fonts/icon01.png"
      title="PRODUCTOS DIGITALES"
      items={[
        "Marca digital",
        "Sitios web y móviles",
        "Interfaz de usuario",
        "Diseño responsive",
      ]}
    />
  </nav>

  <nav>
    <Box
      imagen="/public/fonts/icon02.png"
      title="DISEÑO UI-UX"
      items={[
        "Estrategia Digital",
        "Experiencia de Usuario",
        "Maquetación Web",
        "Sitios móviles",
      ]}
    />
  </nav>

  <nav>
    <Box
      imagen="/public/fonts/icon03.png"
      title="DESARROLLO WEB"
      items={[
        "Plataforma Personalizada",
        "Ejecuciones de Back-end",
        "Aplicaciones de Interfaz",
        "Sistemas Web",
      ]}
    />
  </nav>
</section>
