---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>   
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Comfortaa';
    src: url('/public/fonts/Comfortaa-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'FjallaOne';
    src: url('/public/fonts/FjallaOne-Regular.ttf');
    font-weight: 400;
    font-style: regular;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Raleway';
    src: url('/public/fonts/Raleway-Regular.ttf');
  }

@font-face {
  font-family: 'MontserratE';
  src: url('/public/fonts/Montserrat-ExtraBold.ttf');
}

  .box {
    position:static;
    border: 2px solid #ffff;
    background-color: transparent;
    z-index: 0;
    border-radius: 50%;
    width: 500px;
    height: 470px;
    text-align: center;
    top: 100px;
    left: 450px;
    flex: none;
    filter: blur(4px);
    animation: ping 5s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }

  
}




</style>
