<div class="container text-black grow items-justify-end ">
  <div
    class="box-border min-w-min h-fit rounded-lg border border-black"
  >
    <ul class="accordion">
      <li>
        <input type="radio" name="accordion" id="first" />
        <label for="first" class="flex">
          Desarrollo de software a medida
        </label>
        <div
          class="content text-[14px] font-regular font-Montserrat text-justify"
        >
          <p>
            Destaca tu capacidad para crear soluciones personalizadas y
            adaptadas a las necesidades específicas de tus clientes. Puedes
            mencionar la experiencia en el desarrollo de aplicaciones
            empresariales, aplicaciones móviles, sistemas de gestión, etc.
          </p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="second" />
        <label for="second" class="flex">
          Desarrollo web responsivo
        </label>
        <div
          class="content text-[14px] font-regular font-Montserrat text-justify"
        >
          <p>
            Destaca la importancia de tener un sitio web adaptativo que se
            visualice correctamente en diferentes dispositivos, como
            computadoras de escritorio, tablets y teléfonos móviles. Menciona
            tus habilidades en la creación de sitios web responsivos y
            optimizados.
          </p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="third" />
        <label for="third" class="flex">
          Diseño de interfaces de usuario (UI)
        </label>
        <div
          class="content text-[14px] font-regular font-Montserrat text-justify"
        >
          <p>
            Puedes resaltar tu capacidad para diseñar interfaces de usuario
            atractivas y fáciles de usar. Explica cómo trabajas en colaboración
            con tus clientes para crear diseños a medida que reflejen su marca y
            objetivos comerciales.
          </p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="fourth" />
        <label for="fourth" class="flex">
          Desarrollo de aplicaciones móviles
        </label>
        <div
          class="content text-[14px] font-regular font-Montserrat text-justify"
        >
          <p>
            Si tienes experiencia en el desarrollo de aplicaciones móviles para
            plataformas iOS y Android, menciona tus habilidades y ejemplos de
            proyectos anteriores. Destaca la importancia de tener presencia
            móvil en la actualidad.
          </p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="fifth" />
        <label for="fifth" class="flex">
          Desarrollo de comercio electrónico
        </label>
        <div
          class="content text-[14px] font-regular font-Montserrat text-justify"
        >
          <p>
            Si has trabajado en proyectos de desarrollo de tiendas en línea,
            puedes enfocarte en tus habilidades para crear plataformas de
            comercio electrónico seguras y escalables. Menciona las
            características clave que puedes ofrecer, como integración con
            pasarelas de pago, gestión de inventario y análisis de ventas.
          </p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="sixth" />
        <label for="sixth" class="flex">
          Mantenimiento y soporte técnico
        </label>
        <div
          class="content text-[14px] font-regular font-Montserrat text-justify"
        >
          <p>
            Si ofrecerás servicios de mantenimiento y soporte después de la
            entrega de los proyectos, resáltalo en esta sección. Explica cómo te
            asegurarás de que tus clientes tengan un respaldo continuo y
            actualizaciones de software para mantener su funcionamiento óptimo.
          </p>
        </div>
      </li>

      <li>
        <input type="radio" name="accordion" id="seventh" />
        <label for="seventh" class="flex">
          Consultoria tecnológica
        </label>
        <div
          class="content text-[14px] font-regular font-Montserrat text-justify"
        >
          <p>
            Destaca tu capacidad para crear soluciones personalizadas y
            adaptadas a las necesidades específicas de tus clientes. Puedes
            mencionar la experiencia en el desarrollo de aplicaciones
            empresariales, aplicaciones móviles, sistemas de gestión, etc.
          </p>
        </div>
      </li>
    </ul>

    <style>

      .accordion {
        margin: 0px auto;
        width: 500px;
      }

      .accordion li {
        list-style: none;
        width: 100%;
        padding: 0px;
      }

      .accordion li label {
        z-index: 40;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
        font-family: "MontserratE"
      }

      label::after {
        content: "+";
        margin-left: auto;
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
      }

      input[type="radio"] {
        display: none;
      }

      .accordion .content {
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
      }

      .accordion input[type="radio"]:checked + label + .content {
        max-height: 400px;
        padding: 10px 10px 20px;
      }

      .accordion input[type="radio"]:checked + label::after  {
        content: "-";
        font-weight: 900;
        color: red;
      }

      .accordion input[type="radio"]:checked + label  {
        color: red;
      }
    </style>
  </div>
</div>
