---
interface Props {
  imagen: string;
  title: string;
  items: Array<string>;
}

const { imagen, title, items } = Astro.props;
---

<div class="relative mx-auto contain-general">
  
  <div
    class="relative text-center p-8 z-20 hover:bg-black delay:40 transitions-colors duration-300"
  >
    <div class="w-full">
      <img src={`${imagen}`} class="w-20 h-20 mx-auto" />
    </div>
    <h4 class="my-3 font-black inline-block text-white">
      {title}
    </h4>
    <ul class="flex flex-col gap-2 text-white/70">
      {items.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  <div
    style="background-image: url('/public/fonts/dot-pattern.png'); background-size: 9px"
    class="absolute bg-repeat w-36 h-36 bottom-[-20px] right-[-20px] contain-puntos z-10"
  >
  </div>
</div>
