
<nav>
    <ul class="flex text-sm ml-60">
      <li>
        <a
          href="#"
          class="rounded-lg px-3 py-2 text-slate-700 hover:bg-green delay:40 hover:text-black transitions-colors text-white font-medium font-Montserrat inline-block"
          >Inicio</a>
      </li>
      <li>
        <a
          href="#"
          class="rounded-lg px-3 py-2 text-slate-700 hover:bg-green delay:40 hover:text-black transitions-colors text-white font-medium font-Montserrat inline-block"
          >Nosotros</a>
      </li>
      <li>
        <a
          href="#"
          class="rounded-lg px-3 py-2 text-slate-700 hover:bg-green delay:40 hover:text-black transitions-colors delay:40 text-white font-medium font-Montserrat inline-block"
          >Servicios</a>
      </li>
      <li>
        <a
          href="#"
          class="rounded-lg px-3 py-2 text-slate-700 hover:bg-green delay:40 hover:text-black transitions-colors text-white font-medium font-Montserrat inline-block"
          >Portafolio</a>
      </li>
    </ul>
  </nav>