---
interface Props {
  title: string;
}

const {title} = Astro.props;
---

    <li class="pt-10 pl-8 flex">
        <label class="flex">
            <textarea id="text" class="grow h-[10rem] w-[30rem] bg-white border-[1px] font-Poppins text-[12px] border-black border-opacity-20 outline-none focus:border-gray focus:text-black transition duration-200 flex p-4"></textarea>
            <span class="text-1xl text-black text-opacity-80 font-Poppins absolute pt-3 pl-4 transition duration-200 input-text flex">{title}</span></label>
        </label>   
    </li>

<style>
    textarea[id="text"]:focus ~ .input-text{
        @apply text-black bg-white transform -translate-y-9 -translate-x-4 scale-75 font-bold text-[18px] font-Poppins;
    }
</style>   