---
interface Props {
  title: string;
}

const {title} = Astro.props;
---


<li class="flex pt-10 pl-8 text-center">
      <il class=" border-2 h-12 w-24 border-black text-[12px] font-Poppins font-black px-2 py-1 inline-block hover:bg-black hover:text-white hover:font-PoppinsE transitions-colors border-collapse pt-3" href="#"> {title}</il>
</li>