---
interface Props {
  title: string;
}

const {title} = Astro.props;
---

<div>
        <div class="pt-20 pl-20 text-black font-semibold font-Poppins text-[15px]">
            {title}
        </div>

</div>
