---
interface Props {
  title: string;
}

const {title} = Astro.props;
---

<footer class="z-30 text-sm font-MontserratE inline-block mt-20">
    <a href="#">
        <ul class="rounded-lg border-2 pt-[9px] pb-[9px] border-green-100 hover:bg-green px-10 hover:text-black transitions-colors border-collapse pb-40">{title}</ul>
    </div>
    
</footer>